!!!
%html
  %head
    %link{rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'}
    %link{rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css'}
    %script{src: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'}
    %title 
      'new'
  %body
    .container
      .panel.panel-default
        .panel-body
          %form.form-horizontal{action: "/create", method: 'post'}
            .row
              .col-md-10
                .form-group
                  %label.col-sm-2.control-label{for: 'title_label'}
                    Title
                  .col-sm-10
                    %input.form-control{name: 'title', default: 'title'}
              .col-md-2
                .btn-group
                  %button.btn.btn-default{type: 'submit'}
                    %span.glyphicon.glyphicon-ok
                  %a.btn.btn-default{href:"/"}
                    %span.glyphicon.glyphicon-remove

            .row
              .col-md-10
                .form-group
                  %label.col-sm-2.control-label{for: 'text'}
                    Text
                  .col-sm-10
                    %textarea.form-control{rows: 10, name: 'text', default: 'Text...!'}
